@import "../../App.css";

.text-right {
  text-align: right;
  overflow: hidden;
}
.bg-100 {
  color: var(--clr-primary);
  background-color: var(--bg-primary-200);
}
.bg-200 {
  background-color: var(--bg-primary);
  border-top-right-radius: 20%;
  border-bottom-left-radius: 20%;
}
@media screen and (min-width: 1100px) {
  .bg-200 {
    margin-top: 40% !important;
  }
}

.bg-300 {
  color: black;
  background-color: var(--bg-secondary);
  border-top-left-radius: 20%;
  border-bottom-right-radius: 20%;
}
.text-center-header {
  text-align: center;
  color: black;
  margin-top: 10%;
}
.text-center {
  text-align: center;
  color: inherit;
}
#about {
  color: var(--clr-secondary);
}
.about-container {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(4, 1fr);
  overflow: hidden;
}
.about-container div {
  width: 310px;
  height: 450px;
  margin: 5rem auto;
  padding: 15px;
  border: 5px solid var(--clr-primary);
  /* border-radius: 5%; */
  overflow: hidden;
}
.about-container div img {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  width: 250px;
  height: 100px;
}
.about-container div p {
  text-align: center;
  font-weight: 700;
}
hr {
  margin: 1rem auto;
  height: 5px;
  width: 150px;
  background-color: rgb(73, 165, 119);
}
@media screen and (max-width: 800px) {
  .about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1;
  }
}
@media screen and (max-width: 728px) {
  .about-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 1;
  }
}
@media screen and (min-width: 1100px) {
  .about-container {
    margin-top: 5%;
  }
}
.learn-more-btn {
  background-color: rgb(52, 110, 91);
  color: wheat;
  font-weight: bold;
  float: right;
  width: 150px;
  height: 50px;
  margin-right: 2%;
  margin-bottom: 1%;
}
.learn-more-btn:hover {
  background-color: var(--clr-primary);
}
