@import "../../App.css";

.welcoming {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-secondary);
}
@media (min-width: 1000px) {
  .welcoming  {
    flex-direction: row;
  }
}
.first-part {
  overflow: hidden;
}
@media (min-width: 1000px) {
  .first-part {
    flex:0.5;
  }
}
.img-container {
  width: 250px;
  height: 250px;
  margin: 5rem auto;
  border: 5px solid var(--bg-primary);
  border-radius: 50%;
  overflow: hidden;
}
.img-container img {
  width: 100%;
  display: block;
}
@media (min-width: 1000px) {
  .img-container {
    position: absolute;
    width: 500px;
    height: 500px;
    margin-left: 15%;
    margin-top: 5%;
    border: none;
    border-radius: 0%;
    border-bottom: 5px solid black;
    overflow: hidden;
  }
}
.second-part {
  overflow: hidden;
}
@media (min-width: 1000px) {
  .second-part {
    flex:0.5;
  }
}
.intro-container p {
  overflow: hidden;
  padding: 15px;
  text-align: center;
  font-weight: bold;
}
@media (min-width: 1000px) {
  .intro-container  {
   width: 500px;
   margin: 10rem auto;
  }
}
