@import "../../App.css";

.welcoming {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-secondary);
}

.left {
  flex:0.5;
  overflow: hidden;
}
@media (min-width: 540px) {
  .welcoming {
    flex-direction: row;
  }
}
@media (min-width: 540px) {
  .left {
    flex: 0.7;
  }
}
@media (min-width: 800px) {
  .left {
    flex: 0.7;
  }
}
@media (min-width: 1100px) {
  .left {
    flex: 0.5;
  }
}
.img-container {
  margin: 3rem auto;
  border: 2px solid black;
  border-radius: 50%;
  background-color: var(--bg-primary-200);
}
@media (max-width: 540px) {
  .img-container {
    margin: 7rem auto;
    width: 250px;
    height: 250px;
    overflow: hidden;
  }
}
@media (min-width: 1100px) {
  .img-container {
    position: absolute;
    width: 500px;
    height: 500px;
    margin-top: 5%;
    margin-left: 15%;
    border-radius: 0%;
    overflow: hidden;
    background-color: var(--bg-primary-200);
  }
}
.img-container img {
  width: 100%;
}
.right {
  flex:0.6;
  overflow: hidden;
}
@media (min-width: 540px) {
  .right {
    flex: 0.5;
  }
}
@media (min-width: 800px) {
  .right {
    flex: 0.3;
  }
}
@media (min-width: 1100px) {
  .right {
    flex: 0.4;
  }
}
.right p {
  font-weight: bold;
  text-align: center;
 
}
.intro-container {
  width: 100%;
}
@media (min-width: 550px) {
  .intro-container {
    margin: 10rem auto;
  }
}
@media (min-width: 1100px) {
  .intro-container {
    margin: 10rem auto;
    margin-left: 5%;
    width: 500px;
  }
}


