:root {
  --bg-primary: rgb(0, 0, 17);
  --bg-primary-200: rgb(255, 255, 255);
  --bg-secondary: rgb(255, 123, 0);
  --bg-secondary-200: rgb(55, 143, 109);
  --clr-primary: rgb(0, 0, 0);
  --clr-secondary: rgb(255, 255, 255);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.app {
  height: 100vh;
}
.sections {
  width: 100%;
  height: calc(100vh - 80px);
  background-color: var(--bg-primary-200);
  position: relative;
  top: 80px;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
#home {
  width: 100vw;
  height: calc(100vh - 80px);
  scroll-snap-align: start;
}
@media (max-width: 540px) {
  #home {
    width: 100vw;
    height: calc(150vh - 80px);
    scroll-snap-align: start;
  }
}
@media (min-width: 1000px) {
  #home {
    width: 100vw;
    height: calc(80vh - 80px);
  }
}
@media (min-width: 1000px) {
  #about {
    width: 100vw;
    height: calc(100vh - 80px);
  }
}
@media (min-width: 1000px) {
  #contact{
    width: 100vw;
    height: calc(100vh - 80px);
  }
}
.sections > * {
  width: 100vw;
  height: calc(200vh - 80px);
  scroll-snap-align: start;
}
