:root {
  --bg-primary: rgb(0, 0, 17);
  --bg-primary-200: rgb(52, 110, 91);
  --bg-secondary: rgb(255, 123, 0);
  --bg-secondary-200: rgb(255, 255, 255);
  --clr-primary: rgb(0, 0, 0);
  --clr-secondary: rgb(255, 255, 255);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.app {
  height: 100vh;
}
.sections {
  width: 100%;
  height: calc(100vh - 80px);
  background-color: var(--bg-primary-200);
  position: relative;
  top: 80px;
  scroll-behavior: smooth;
}
.sections > * {
  width: 100%;
  height: fit-content;
}

@media (min-width: 1000px) {
  #home {
    width: 100vw;
    height: calc(80vh - 80px);
  }
}
@media (min-width: 1000px) {
  #about {
    width: 100vw;
    height: fit-content !important;
  }
}
@media (min-width: 1000px) {
  #contact {
    width: 100vw;
    height: calc(100vh - 80px);
  }
}
